<%- include('partials/header') %>

    <!--<hr class="navbar_end"> s-->


    <main class="is-flex-grow-1 mb-6">

        <hr class="navbar_end navbar-desktop">

        <section class="section mb-6">
            <div class="container has-text-centered">
              <div class="columns is-vcentered mb-4">
                <div class="column">
                  <h1 class="title-page has-text-centered-mobile has-text-left-tablet has-text-weight-bold">Gestion des arbres</h1>
                </div>
                <div class="column is-narrow has-text-centered-mobile has-text-right-tablet">
                  <button class="button is-custom-green is-large">
                    Créer une page
                  </button>
                </div>
              </div>
            </div>
          </section>

        <section class="is-flex is-flex-direction-column is-align-items-center">
            <% trees.forEach(tree => { %>
              
           
            <div class="container is-fluid mx-6 is-flex is-flex-direction-column is-flex-wrap-nowrap p-4 pt-5 mb-6">
                <header class="is-flex is-justify-content-space-between mx-5 has-text-weight-semibold">
                    <p><%= tree.id%></p>
                    <time datetime= "<%= new Date(tree.created_at).toLocaleDateString('fr-FR', { year: 'numeric', month: 'long', day: 'numeric' }) %>"></time> <%# Voir sur nagigateur affichagede la date%>
                   
                </header>
                <div class="content-card is-flex is-justify-content-space-around p-2 mb-6">
                    
                    <ul class="follow-command is-flex is-flex-direction-column is-justify-content-space-between">
                      <figure class="image is-4by3">
                        <a href="/nos-arbres/<%= tree.slug %>"><img
                            src="../public/images/photos/<%= tree.image %>"
                            alt="Photo d'un <%= tree.name %>"/>
                          </a>
                        </figure>
                        <li><a href="#" class="has-text-weight-semibold has-text-right mr-6 pb-2">Modifier l'image </a></li>
                    </ul>
                    <div class="is-flex is-flex-direction-column is-flex-wrap-nowrap is-justify-content-space-between">
                        <p><span class="has-text-weight-semibold">Nom : </span><%= tree.name %></p>
                        <p><span class="has-text-weight-semibold">Taille : </span><%= tree.size %></p>
                        <p><span class="has-text-weight-semibold">Variété : </span><%= tree.variety %></p>
                        <p><span class="has-text-weight-semibold">Prix HT: </span><%= tree.price_ht %> €</p>
                        <p><span class="has-text-weight-semibold">Prix TTC: </span><%= tree.price_ttc %> €</p>
                    </div>
                    <ul class="follow-command is-flex is-flex-direction-column is-justify-content-space-between">
                        <li><a href="#" class="has-text-weight-semibold has-text-right mr-6 pb-2">Modifier les informations </a></li>
                        <li><a href="#" class="has-text-weight-semibold has-text-right mr-6 pb-2">Supprimer la page </a></li>
                    </ul>
                    <div class="mobile-link">
                    </div>
                </div>
                <a href="#" class="mobile-link has-text-weight-semibold has-text-right mr-6 pb-2">Détails ></a>   
            </div>
            <% }); %>
        </section>

    </main>


    <%- include('partials/footer') %>