<%- include('partials/header') %>

    <div class="picture_homepage">
        <img src="/public/images/photos/photo_bann.webp" alt="photo de forêt">
    </div>
    
    
    <div class="card-container">
        <% users.forEach(user => { %>
            <div class="card">
                <p>
                    ID: <%= user.id %>
                    Nom: <%= user.name  %> 
                    Rôle: <%= user.role %>
                    Adresse: <% user.adress %>
                </p>
            </div>
        <% }); %>
    </div>
    
<%- include('partials/footer') %>