<%- include('partials/headerConnect') %>


<div class="notification-container mx-6">
    <% if (message) { %>
        
        <div class="notification <%= message.type %> mb-6 mx-6" id="notification">
            <p class="has-text-centered"><%= message.text %></p>
        </div>
        <% delete message; %>
    <% } %>
</div>


<main class="is-flex-grow-1 mb-6">
    <h1 class="my-2 has-text-centered  has-text-weight-semibold mb-6">Mes favoris</h1>

    <% if (trees.length === 0) { %>
     <p>Pas de favoris enregistré</p>
    <% } %>
    
    <section>
        <% trees.forEach(tree => { %>
         
            <article class=" p-5 mb-6">
                <h2 class="has-text-centered mb-3 has-text-weight-semibold"><%= tree.name %></h2>
                <a href="/nos-arbres/<%= tree.slug %>"> <img class="mb-5" src="/public/images/photos/<%= tree.image %>" alt="Photo d'un <%= tree.name %>"></a>
                <div class="has-text-justified text-infos">
                    <p><span class="has-text-weight-bold">Variété : </span><%= tree.variety.name %></p>
                    <p><span class="has-text-weight-bold">Taille : </span><%= tree.size %> m</p>
                    <p><span class="has-text-weight-bold">Quantité : </span>1</p>
                    <p><span class="has-text-weight-bold">Prix TTC : </span><%= tree.price_ttc %> €</p>
                </div>
                <div class="has-text-centered">
                <a href="/nos-arbres/<%= tree.slug %>"><button class="button-redirect">Voir la page de l'arbre</button></a>
                </div>
                <form action="/remove-favorite" method="POST" class="has-text-centered">
                    <input type="hidden" name="treeId" value="<%= tree.id %>">
                    <button type="submit" class="button-redirect">Supprimer</button>
                </form>
                
            </article>

        <% }) %>     
        
    </section>
    
</main>



<%- include('partials/footer') %>

<script src="/public/js/addFavorite.js" async></script>