<%- include('partials/header') %>

<div class="buttons_profil navbar-desktop">
        
    <div class="buttons_profil">

        <a href="/profil/" class="button_infos">Mes informations</a>
        <a href="/profil/mes-commandes" class="button_order">Mes commandes</a>
        <a href="/profil/favoris" class="button_fav">Mes favoris</a>

    </div>
    
</div>

<hr class="navbar_end navbar-desktop">

<div class="notification-container mx-6">
    <% if (message) { %>
        
        <div class="notification <%= message.type %> mb-6 mx-6" id="notification">
            <p class="has-text-centered"><%= message.text %></p>
        </div>
        <% delete message; %>
    <% } %>
</div>


<main class="is-flex-grow-1 mb-6">
    <h1 class="title-page my-2 has-text-centered  has-text-weight-semibold mb-6">Mes favoris</h1>

    <% if (trees.length === 0) { %>
     <p>Pas de favoris enregistré</p>
    <% } %>
    
    <section>
        <% trees.forEach(tree => { %>
         
            <article class=" p-5 mb-6">
                <h2 class="has-text-centered mb-3 is-underlined has-text-weight-semibold"><%= tree.name %></h2>
                <a href="#"> <img class="mb-5" src="../public/images/photos/<%= tree.image %>" alt="Photo d'un <%= tree.name %>"></a>
                <div class="has-text-centered  has-text-dark">
                    <p><span class="has-text-weight-semibold">Variété : </span><%= tree.variety.name %></p>
                    <p><span class="has-text-weight-semibold">Taille : </span><%= tree.size %> m</p>
                    <p><span class="has-text-weight-semibold">Quantité : </span>1</p>
                    <p><span class="has-text-weight-semibold">Prix TTC : </span><%= tree.price_ttc %> €</p>
                </div>
                
                <a href="/nos-arbres/<%= tree.slug %>"><button class="button-buy">Voir la page de l'arbre</button></a>

                <form action="/remove-favorite" method="POST">
                    <input type="hidden" name="treeId" value="<%= tree.id %>">
                    <button type="submit" class="button-buy">Supprimer</button>
                </form>
                
            </article>

        <% }) %>     
        
    </section>
    
</main>



<%- include('partials/footer') %>

<script src="/public/js/addFavorite.js" async></script>