<%- include('partials/header') %>

<main class="homepage has-background-white">


     <!--  message dans la session -->
     <% if (typeof message !== 'undefined') { %>
        <div class="notification is<%= message.type %>">
            <button class="delete"></button>
            <%= message.content %>
        </div>
    <% } %>

    <section class="intro">
        <h1>Reforestons ensemble</h1>
        <p>Green Roots est une plateforme dédiée à la vente d'arbres à planter, vous offrant la possibilité de participer activement à la lutte contre la déforestation et de soutenir la reforestation. Face aux défis environnementaux actuels, il est essentiel de trouver des solutions et Green Roots se veut être une réponse à cette cause.</p>
        <a href="/nos-arbres"><button>Tous nos arbres</button></a>
    </section>
    

    <section class="card-tree is-flex">

        <h2 class="is-size-3 has-text-weight-semibold">Nos derniers arbres</h2>


        <% trees.forEach(tree => { %>
            <article>
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <a href="/nos-arbres/<%= tree.slug %>"><img
                            src="../public/images/photos/<%= tree.image %>"
                            alt="Photo d'un <%= tree.name %>"
                            /></a>
                        </figure>
                    </div>
                    <div class="card-content has-background-white-bis">
                        
                        <div class="content">
                            <h3 class="title-card has-text-centered is-size-4"><%= tree.name %></h3>
                            <p class="has-text-centered is-size-6 mt-5"><%= tree.variety %></p>
                            <p class="has-text-centered is-size-6">À partir de <%= tree.price_ttc %> €</p>
                            
                            
                        </div>
                        <a href="/nos-arbres/<%= tree.slug %>"><button class="details is-size-5">Détails</button></a>
                    </div>
                </div>
            </article>
         
        <% }) %>

        <div class=" all-tree-button"><a href="/nos-arbres" ><button class="link-tree is-size-5">Tous nos arbres</button></a></div>

        

    </section>
    
    
    
</main>





    
<%- include('partials/footer') %>